section.curator
  .container
    img(src='/images/curator.svg')
    h3.curator__title Куратор секции
    p.curator__text Для быстрой обратной связи с участниками у каждой секции есть свой куратор.<br>Не стесняйтесь, задавайте вопросы и вам ответят в течение часа.
     //- пример для брендинга
     .curator__person
      block curator-person
       img.curator__img(src='/images/people/6.png')
       .curator__who
        p.curator__name Кристина Энергичная
        a.curator__email(href='mailto: kristina.z@designgames.ru') kristina.z@designgames.ru
       
