section.events.row
  a.events__nearest-link(href='/viewers.html') Ближайшие события
  //- .col-xs-3.events__1
  //-   date.events__date(datetime='2015-02-26')
  //-     |26
  //-     span.events__month 02
  //-   p.events__event-title Открытие<br>регистрации.
  //- .col-xs-3
  //-   date.events__date(datetime='2015-03-05')
  //-     |05
  //-     span.events__month 03
  //-   p.events__event-title Лекция «Златая<br>цепь брендинга».
  //- .col-xs-3.events__1
    date.events__date(datetime='2015-03-12')
      |12
      span.events__month 03
    p.events__event-title Лекция «Особенности<br>создания Fashion-magazine».
  //- .col-xs-3.events__2
    date.events__date(datetime='2015-03-14')
      |14
      span.events__month 03
    p.events__event-title Лекция «Восприятие<br>продукта через дизайн»
  //- .col-xs-3.events__1
  //-   date.events__date(datetime='2015-03-15')
  //-     |15
  //-     span.events__month 03
  //-   p.events__event-title Закрытие<br>регистрации команд
  //- .col-xs-3.events__1
    date.events__date(datetime='2015-03-18')
      |18
      span.events__month 03
    p.events__event-title Лекция «Тайны работы с&nbsp;заказчиком»
  //- .col-xs-3.events__1
    date.events__date(datetime='2015-03-21')
      |21
      span.events__month 03
    p.events__event-title Лекция «Упаковка<br>с человеческим лицом»
  //- .col-xs-3.events__2
    date.events__date(datetime='2015-03-22')
      |22
      span.events__month 03
    p.events__event-title Завершение приёма<br>работ 1 этапа
  .col-xs-3.events__1
    date.events__date(datetime='2015-04-09')
      |8
      span.events__month 04
    p.events__event-title Финал секции<br>«Брендинг»
  .col-xs-3.events__2
    date.events__date(datetime='2015-04-09')
      |9
      span.events__month 04
    p.events__event-title Финал секции<br>«Интерфейсы»
  .col-xs-3.events__3
    date.events__date(datetime='2015-04-10')
      |10
      span.events__month 04
    p.events__event-title Финал секции<br>«Дизайн костюма»
  .col-xs-3.events__4
    date.events__date(datetime='2015-04-11')
      |11
      span.events__month 04
    p.events__event-title Финал секции<br>«Архитектура и интерьер»
