section.events.row
  span.events__nearest-link Ближайшие события
  .col-xs-3
    date.events__date(datetime='2015-02-26')
      |26
      span.events__month 02
    p.events__event-title Открытие<br>регистрации.
  //- .col-xs-3
    date.events__date(datetime='2015-03-05')
      |05
      span.events__month 03
    p.events__event-title Лекция «Златая<br>цепь брендинга».
  .col-xs-3
    date.events__date(datetime='2015-03-12')
      |12
      span.events__month 03
    p.events__event-title Лекция «Интерфейсов<br>не существует».
  .col-xs-3
    date.events__date(datetime='2015-03-15')
      |15
      span.events__month 03
    p.events__event-title Закрытие<br>регистрации команд.
