h4.footer__title Контакты
p.footer__link
	|По общим вопросам<br>
	a(href='mailto:ivan.u@designgames.ru') ivan.u@designgames.ru

p.footer__link
	|По вопросам сотрудничества<br>
	a(href='mailto:yana.d@designgames.ru') yana.d@designgames.ru
	
p.footer__link
	|Предложить идею можно<br>
	a(href='https://vk.com/topic-49101258_28086298' target='_blank') в нашей группе Вконтакте
