section.gallery
	.container
		h5.gallery__title Фотоотчёт с чемпионатов 2013-2014 годов
	.container-fluid
		img(src='/images/gallery/1.jpg')
		img(src='/images/gallery/2.jpg')
		img(src='/images/gallery/3.jpg')
		img(src='/images/gallery/4.jpg')
		img(src='/images/gallery/5.jpg')
		img(src='/images/gallery/6.jpg')
		img(src='/images/gallery/7.jpg')
		img(src='/images/gallery/8.jpg')
		img(src='/images/gallery/9.jpg')
