head
	meta( charset="utf-8")
	meta( http-equiv="X-UA-Compatible" content="IE=edge" )
	title= pagetitle
	meta( name="description", content="#{description}")
	//- meta( name="viewport", content="width=device-width, initial-scale=1")
	//- meta(name="theme-color" content="#405c69")
	// build:css(.tmp) /styles/main.css
	link(rel='stylesheet', href='/styles/main.css')
	// endbuild