.header__registration.col-xs-3
  a.header__registration-link(href='https://docs.google.com/forms/d/13W2AuTDpZ0Z9SvAMg2q2eCOvquHgP9rjvMWkQ8cVF7M/viewform' target='_blank') Регистрация команды
  a.header__registration-link(href='/account.html') Войти в личный кабинет
  date.header__timer
  p.header__timer-text до конца регистрации команд.
