.header__registration.col-xs-3
  //- a.header__registration-link(href='https://docs.google.com/forms/d/13W2AuTDpZ0Z9SvAMg2q2eCOvquHgP9rjvMWkQ8cVF7M/viewform' target='_blank') Регистрация команды
  a.header__registration-link(href='/results/') Результаты 1-го этапа
  a.header__registration-link(href='/case/') Задания 2-го этапа
  date.header__timer
  p.header__timer-text до конца приёма решений<br>2-го этапа в секциях «Брендинг» и «Дизайн костюма».
