section.juri
  .container
    h3.juri__title Жюри
    .row
      .juri__item
        img(src='/images/juri.svg')
        h6.juri__name *Username*
        p.juri__about Публикация 10 марта
      .juri__item
        img(src='/images/juri.svg')
        h6.juri__name *Username*
        p.juri__about Публикация 10 марта
      .juri__item
        img(src='/images/juri.svg')
        h6.juri__name *Username*
        p.juri__about Публикация 10 марта
      .juri__item
        img(src='/images/juri.svg')
        h6.juri__name *Username*
        p.juri__about Публикация 10 марта
