section.juri
	.container
		h3.juri__title Жюри
		.row
			if branding
				.juri__item.juri__item--branding
					img(src='/images/juri/branding-1.png')
					h6.juri__name Ольга Рушневская
					p.juri__about Основатель проекта<br>«Loft Your Mind»
				.juri__item.juri__item--branding
					img(src='/images/juri/branding-2.png')
					h6.juri__name Майя Арутюнян
					p.juri__about Руководитель проектов<br>брендингового агентства<br>«Brandson»
				.juri__item.juri__item--branding
					img(src='/images/juri/branding-3.png')
					h6.juri__name Анастасия Глушко
					p.juri__about PR, стратегические<br>коммуникации ИКРА.СПБ
				.juri__item.juri__item--branding
					img(src='/images/juri/branding-4.png')
					h6.juri__name Роксана Боровик
					p.juri__about Управляющий<br>директор ИКРА.СПБ
			else if interface
				.juri__item
					img(src='/images/juri/interface-1.png')
					h6.juri__name Ирина Титарекно
					p.juri__about Директор компании «ARTW»
				.juri__item
					img(src='/images/juri/interface-2.png')
					h6.juri__name Ярослав Шаповалов
					p.juri__about Креативный директор<br>компании «ARTW»
				.juri__item
					img(src='/images/juri/interface-3.png')
					h6.juri__name Валентин Борисов
					p.juri__about Основатель подкаст-терминала<br>Podster.ru
				.juri__item
					img(src='/images/juri/interface-4.png')
					h6.juri__name Никита Михеенков
					p.juri__about Директор по развитию<br>агентства Nimax
			else if costume
				.juri__item
					img(src='/images/juri/costume-1.png')
					h6.juri__name Диана Ти
					p.juri__about Координатор партнёрских<br>программ «FREEDOM TEAM»
				.juri__item
					img(src='/images/juri/costume-2.png')
					h6.juri__name Александра Киселёва
					p.juri__about Руководитель текстильного<br>направления компании<br>Mad Wave
				.juri__item
					img(src='/images/juri/costume-3.png')
					h6.juri__name Владимир Григорьев
					p.juri__about Основатель марки<br>AFOUR
				.juri__item
					img(src='/images/juri/costume-4.png')
					h6.juri__name Кристина Вазовски
					p.juri__about Основатель марки<br>Vazovsky
			else if architecture
				.juri__item
					img(src='/images/juri/architecture-1.png')
					h6.juri__name Карина Горбунова
					p.juri__about Представитель компании<br>Coca-Cola Hellenic
				.juri__item
					img(src='/images/juri/architecture-2.png')
					h6.juri__name Фёдор Миронов
					p.juri__about Директор «Архитектурной<br>мастерской Миронова»
				.juri__item
					img(src='/images/juri/architecture-3.png')
					h6.juri__name Михаил Жилин
					p.juri__about Руководитель студии<br>«Братья Жилины»
				.juri__item
					img(src='/images/juri/architecture-4.png')
					h6.juri__name Елена Коновалова
					p.juri__about Ведущий дизайнер и учредитель<br>студии «Привилегия» 
