nav.navbar
		.container
				a.navbar__logo(href='/')
				ul.nav
						if mainpage
								li: a.nav__link.nav__link--active(href="/") О чемпионате 2015
						else
								li: a.nav__link(href="/") О чемпионате 2015
						if sections
								li: a.nav__link.nav__link--active(href="/case/") Задания 2 этапа
						else
								li: a.nav__link(href="/case/") Задания 2 этапа
						//- li: a.nav__link(href="#") Участники
						//- li: a.nav__link(href="#") Результаты
						if task
							li: a.nav__link.nav__link--active(href="/results/") Результаты
						else
							li: a.nav__link(href="/results/") Результаты
						if viewers
							li: a.nav__link.nav__link--active(href="/viewers.html") Лекции
						else
							li: a.nav__link(href="/viewers.html") Лекции
						li: a.nav__link(href="/soon.html") День карьеры
						if partners
							li: a.nav__link.nav__link--active(href="/partners.html") Партнёры
						else
							li: a.nav__link(href="/partners.html") Партнёры
						if contacts
							li: a.nav__link.nav__link--active(href="/contacts.html") Контакты
						else
							li: a.nav__link(href="/contacts.html") Контакты
						//- <li class="dropdown">
						//-   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
						//-   <ul class="dropdown-menu" role="menu">
						//-     <li><a href="#">Action</a></li>
						//-     <li><a href="#">Another action</a></li>
						//-     <li><a href="#">Something else here</a></li>
						//-     <li class="divider"></li>
						//-     <li><a href="#">Separated link</a></li>
						//-   </ul>
						//- </li>
