nav.navbar.navbar-default
  .container
    <!-- Brand and toggle get grouped for better mobile display -->
    .navbar-header
      a.navbar-brand Design<br>Games
      ul.nav.navbar-nav.navbar-right
        li: a(href="#") Чемпионат 2015
        li: a(href="#") Секции
        li: a(href="#") Участники
        li: a(href="#") Результаты
        li: a(href="#") Зрителям
        li: a(href="#") Работодателям
        li: a(href="#") Партнёры
        li: a(href="#") Контакты
        //- <li class="dropdown">
        //-   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
        //-   <ul class="dropdown-menu" role="menu">
        //-     <li><a href="#">Action</a></li>
        //-     <li><a href="#">Another action</a></li>
        //-     <li><a href="#">Something else here</a></li>
        //-     <li class="divider"></li>
        //-     <li><a href="#">Separated link</a></li>
        //-   </ul>
        //- </li>