section.prizes
  .container
    img(src='/images/prizes.svg')
    h3.prizes__title Призовой фонд
    p.prizes__text Лучшие команды будут награждены специальными призами от наших партнёров.<br>А победители будут приглашены на стажировку в крупную компанию.
    .prizes-container
      .prizes-container__item
        .prizes-container__square
          img(src="/images/prizes/1.svg", alt="")
        p Стажировки<br>в лучших агентствах
      .prizes-container__item
        .prizes-container__square
          img(src="/images/prizes/2.svg", alt="")
        p Образовательные<br>курсы
      .prizes-container__item
        .prizes-container__square
          img(src="/images/prizes/3.svg", alt="")
        p Профессиональные<br>книги
      .clearfix
      .prizes-container__item.prizes-container__item--second-row
        .prizes-container__square
          img(src="/images/prizes/4.svg", alt="")
        p Места в коворкингах
      .prizes-container__item.prizes-container__item--second-row
        .prizes-container__square
          img(src="/images/prizes/5.svg", alt="")
        p Курсы по изучению<br>английского
      .prizes-container__item.prizes-container__item--second-row
        .prizes-container__square
          img(src="/images/prizes/6.svg", alt="")
        p Скетчбуки
    p.prizes__total
      span.prizes__total--money 300 000 рублей
      br
      |сумма общего призового фонда чемпионата
    
