section.prizes
  .container
    img(src='/images/prizes.svg')
    h3.prizes__title Призовой фонд
    p.prizes__text Лучшие команды будут награждены специальными призами от наших партнёров.<br>А победители будут приглашены на стажировку в крупную компанию.
    
