section.reviews
	.container
		blockquote.reviews__blockquote
			img.reviews__photo(src='/images/reviews/1.png')
			.reviews__text
				p «К победе, лично меня, мотивировало стремление к самореализации,<br>небольшая, но и не маленькая личная победа. А также огромное<br>желание доказать членам своей команды, что мы можем победить,<br>если стараться и делать всё дружно, а главное с душой.<br>Увидимся на чемпионате 2015 ;—)».
				footer.reviews__who Роберт Кубус,<br>победитель чемпионата 2013 года.
		
		
		blockquote.reviews__blockquote
			img.reviews__photo(src='/images/reviews/2.png')
			.reviews__text
				p «Было безумно интересно! Я наконец-то был достаточно мотивирован,<br>чтобы начать заниматься тем, что так долго откладывал. Спасибо<br>организаторам за их работу. Всё было на высоком уровне».
				footer.reviews__who Кирилл Горских,<br>финалист чемпионата 2013 года.
		
		
		blockquote.reviews__blockquote
			img.reviews__photo(src='/images/reviews/3.png')
			.reviews__text
				p «Отличная идея — собрать всех молодых дизайнеров в одном месте<br>и дать им решать реальные задачи из бизнеса. Мы почувствовали себя<br>героями фильма «Кадры», где все думают над одним делом, предлагая<br>свои варианты. Это были сложные, динамичные и интересные игры».
				footer.reviews__who Зинаида Югай,<br>полуфиналист чемпионата 2014 года.
