.champ {
  height: 529px;
  padding-top: 47px;
  font-weight: 300;
  .row {
    padding-left: 28px;
  }
  &--3 {
    padding-left: 4px;
  }
  &--4,
  &--5 {
    padding-left: 6px;
  }
  &--6 {
    padding-left: 7px;
  }
  &__title {
    .text-center;
    margin-bottom: 51px;
    font-weight: 400;
  }
  &__timeline {
    margin-left: 9px;
    margin-bottom: -11px;
  }
  &__text {
    .text-center;
    margin-top: 66px;
    color: #646464;
    &--note {
      color: #d0021b;
    }
  }
}
