.header {
  // height: 1235px;
  height: 1233px;
  background: url("../images/cover.jpg") no-repeat top center;
  position: relative;
  &__title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
    color: #fff;
    margin-top: 108px;
    margin-bottom: 31px;
  }
  &__registration {
    padding-top: 120px;
    padding-left: 35px;
    &-link {
      .text-uppercase;
      display: block;
      text-decoration: underline;
      color: #c7a95f;
      line-height: 22px;
      & + & {
        margin-top: 8px;
        margin-bottom: 30px;
      }
    }
  }
  &__timer {
    color: #fff;
    font-size: 23px;
    &-text {
      font-size: 14px;
      color: #fff;
    }
  }
}
