.container--sections {
  width: 1200px !important;
}
.sections {
  .text-center;
  background: #171717;
  color: #fff;
  padding-top: 78px;
  &__title {
    font-size: 20px;
    font-weight: 400;
  }
  &__text {
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 60px;
  }
  &__item {
    width: 600px;
    height: 500px;
    /* background: url(../images/section_bg.jpg); */
    padding-top: 168px;
    /* padding-left: 103px; */
    /* line-height: 25px; */
    /* transition: 0.5s ease all; */
    &--branding {
      background: url(../images/sections/branding_bg.jpg);
    }
    &--interface {
      background: url(../images/sections/interface_bg.jpg);
    }
    &--architecture {
      background: url(../images/sections/architecture_bg.jpg);
    }
    &--costume {
      background: url(../images/sections/costume_bg.jpg);
    }
    &-title {
      font-size: 40px;
      font-weight: 400;
    }
    &-about {}
    &-link {
      .text-uppercase;
      text-decoration: underline;
      color: #c7a95f;
    }
    ol {
      padding: 0;
    }
    blockquote {
      padding: 0;
      border: 0;
    }
  }
}
