.why {
  &__item {
    border: 1px solid #eee;
    border-top: 0;
    height: 286px;
    .text-center;
    font-weight: 300;
    padding-top: 83px;
    &--right {
      border-left: 0;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
  }
}
