@import "_bootstrap.less";
@import "_navbar.less";
@import "_header.less";
@import "_likely.css";
@import "_about.less";
@import "_sections.less";
@import "_why.less";
@import "_champ.less";
@import "_footer.less";
@import "../../bower_components/slick.js/slick/slick.css";
@import "../../bower_components/slick.js/slick/slick-theme.css";
@border-radius-base: 0;
@font-family-base: 'Roboto', sans-serif;
// bower:less
// endbower

.container {
	width: 980px;
	position: relative;
	line-height: 25px;
	/* background: red; */
}
h2 {
	font-size: 40px;
}
