@import "_bootstrap.less";
@import "_navbar.less";
@import "_header.less";
@import "_likely.less";
@import "_about.less";
@import "_sections.less";
@import "_why.less";
@import "_partners.less";
@import "_champ.less";
@import "_events.less";
@import "_calendar.less";
@import "_juri.less";
@import "_prizes.less";
@import "_curator.less";
@import "_registration.less";
@import "_stage.less";
@import "_soon.less";
@import "_contacts.less";
@import "_mixins.less";
@import "_reviews.less";
@import "_gallery.less";
@import "_footer.less";
@import "/bower_components/slick.js/slick/slick.css";
@import "/bower_components/slick.js/slick/slick-theme.css";
@border-radius-base: 0;
@grid-gutter-width: 0;
@font-family-base: 'Roboto', sans-serif;
// bower:less
// endbower

.container {
	width: 980px !important;
	position: relative;
	line-height: 25px;
	font-weight: 300;
	/* background: red; */
	// padding-left: 0;
	// padding-right: 0;
}
/* .row { */
	/* margin-left: 0; */
	/* margin-right: 0; */
/* } */
h2 {
	font-size: 40px;
}
