block var
	- var title = 'Задание 2 этапа для секции «Дизайн костюма»'
extends ../../layout/default.jade
block header
	include ../../partials/navbar.jade
block content
	section.case
		.container
			h1.case__heading Задание 2 этапа для секции «Дизайн костюма»
			p
				//- |В наш проект обратилась компания 
				//- a(href='http://www.afourcustom.ru/' target='_blank') «AFOUR»
				//- |&nbsp;с просьбой создать уникальный визуальный образ,
				//- |<br>дизайн качественно новой модели кроссовок.
				
				|В наш проект обратилась компания 
				a(href='' target='_blank') «Made Wave»
				|&nbsp;с просьбой придумать новую экипировку для спортивного плавания.
				|<br>Полное техническое задание читайте по ссылке ниже.
			a.case__link(href='/files/Costume_Case_Madwave.pdf' target='_blank') Скачать задание 2 этапа
			p
				|Внимание! Ваши работы загружайте через 
				a(href='/upload/costume.html') специальную форму на сайте
				|&nbsp;до 31 марта 23:59
				|<br>по московскому времени. 1 апреля в 00:00 форма заблокируется и решения приниматься не будут.
				|<br>Особое внимание обратите на технические требования к загрузке решений (они описаны в презентации).
				|<br>Результаты 1 этапа будут опубликованы на сайте 2 апреля после 20:00.
			hr.case__divider
			h3.case__curator Куратор секции
			p Возник вопрос? Обращайтесь к куратору вашей секции.
			img.curator__img(src='/images/people/7.png')
			.curator__who
				p.curator__name.curator__name--case Ирина Пестова
				a.curator__email(href='mailto: irina.p@designgames.ru') irina.p@designgames.ru
