block var
	- var title = 'Задание 2 этапа для секции «Архитектура и интерьер»'
extends ../../layout/default.jade
block header
	include ../../partials/navbar.jade
block content
	section.case
		.container
			h1.case__heading Задание 2 этапа для секции «Архитектура и интерьер»
			p
				//- |В наш проект обратилась 
				//- a(href='http://mironov-studio.com/' target='_blank') творческая архитектурная мастерская Е. И. Миронова
				//- |<br>с просьбой организовать пространство офиса для фирмы, которая занимается продажей ж/д
				//- |и авиабилетов.
				//- |<br>Полное техническое задание читайте по ссылке ниже.
				
				|В наш проект обратилась компания 
				a(href='http://www.coca-colahellenic.ru/' target='_blank') «Coca-Cola Hellenic»
				|&nbsp;с просьбой разработки интерьера музея Coca-Cola в Санкт-Петербурге.
				|<br>Полное техническое задание читайте по ссылке ниже.
			a.case__link(href='/files/Architecture_Case_Cocacola.zip' target='_blank') Скачать задание 2 этапа
			p
				|Внимание! Ваши работы загружайте через 
				a(href='/upload/architecture.html') специальную форму на сайте
				|&nbsp;до 1 апреля 23:59
				|<br>по московскому времени. 2 апреля в 00:00 форма заблокируется и решения приниматься не будут.
				|<br>Особое внимание обратите на технические требования к загрузке решений (они описаны в презентации).
				|<br>Результаты 2 этапа будут опубликованы на сайте 2 апреля после 20:00.
			hr.case__divider
			h3.case__curator Куратор секции
			p Возник вопрос? Обращайтесь к куратору вашей секции.
			img.curator__img(src='/images/people/8.png')
			.curator__who
				p.curator__name.curator__name--case Лера Бесподобная
				a.curator__email(href='mailto: valeriya.v@designgames.ru') valeriya.v@designgames.ru
