block var
	- var title = 'Секция «Брендинг»'
	- var branding = true
extends ../../layout/sections.jade
block header
	header.header.header--section.header--branding
		include ../../partials/navbar.jade
		.container
			.row
				.col-xs-9
					h2.header__title Секция<br>Брендинг
					.likely.likely-light
						.twitter Твитнуть
						.facebook Поделиться
						//- .gplus Плюсануть
						.vkontakte Поделиться
				include ../../partials/header-registration.jade
			//- include ../partials/events.jade
		section.about.about--section
			.container
				p.about__text Кому как не тебе знать, как должен выглядеть настоящий бренд. Ты понимаешь, почему Сoca-Сola никогда не будет<br>продаваться в синей банке. Ты можешь перевернуть сознание потребителей, просто предложив им то,<br>что сведёт их с ума. Воспользуйся шансом реализовать самые смелые идеи. Секция «Брендинг» ждёт тебя. 
				.about__icon
					img(src='/images/icons/branding/1.svg')
					p.about__icon-text Бизнес<br>и управление
				.about__icon
					img(src='/images/icons/branding/2.svg')
					p.about__icon-text Маркетинг<br>и аналитика
				.about__icon
					img(src='/images/icons/branding/3.svg')
					p.about__icon-text Разработка<br>дизайна и креатива
				.about__icon
					img(src='/images/icons/branding/4.svg')
					p.about__icon-text Разработка<br>носителей
				.about__icon
					img(src='/images/icons/branding/5.svg')
					p.about__icon-text Продвижение<br>и реклама
				//- .row.about__number-container
					.about__item-number.col-xs-3
						span.about__number 4
						span.about__number-text секции
					.about__item-number.col-xs-3
						span.about__number 800
							span.about__plus +
						span.about__number-text участников со страны
					.about__item-number.col-xs-3
						span.about__number 100
							span.about__plus +
						span.about__number-text призов от парнёров
					.about__item-number.col-xs-3
						span.about__number 50
							span.about__plus +
						span.about__number-text работодателей
						
block tab-first-stage
	a(href='http://veeam.com/ru/' target='_blank'): img.tab-pane__img(src='/images/logo/logo_veeam-white.svg')
	.tab-pane__text
		p.tab-pane__date 16 — 22 марта 2015
		p.tab-pane__about 1-й этап проходит заочно.<br>Вам предстоит решить задание<br>от компании <a class='tab-pane__link' href='http://veeam.com/ru/' target='_blank'>Veeam</a> за 7 дней.<br>Лучшие команды пройдут во 2-й этап<br>и поборются за прохождение в финал.
		hr.tab-pane__separator
		p.tab-pane__about
			.tab-pane__link-container
				a.tab-pane__link(href='https://drive.google.com/folderview?id=0B61TtHqP5CkSSVQ3R3N6cks0b0E&usp=docslist_api&ddrp=1#' target='_blank') Пример задания
				|  для секции «Брендинг»
				//- p.tab-pane__about
				br
				a.tab-pane__link(href='https://docs.google.com/file/d/0B2COchAXouRGaUdVcHAtZnhIMkk/edit' target='_blank') Решение задания
				|  от победителя 2014 года
block tab-second-stage
	a(href='http://www.ikraikra.ru/spb/courses/?utm_source=DG_site&utm_medium=logo&utm_campaign=DG' target='_blank'): img.tab-pane__img(src='/images/logo/sections/logo_ikra.svg')
	.tab-pane__text
		p.tab-pane__date 24 — 30 марта 2015
		p.tab-pane__about 2-й этап проходит заочно.<br>Вам предстоит решить задание<br>от digital-школы <a class='tab-pane__link' href='http://www.ikraikra.ru/spb/courses/?utm_source=DG_site&utm_medium=logo&utm_campaign=DG' target='_blank'>IKRA</a> за 7 дней.<br>Лучшие команды пройдут в финал<br>и презентуют решение перед жюри.
		hr.tab-pane__separator
		p.tab-pane__about
			.tab-pane__link-container
				a.tab-pane__link(href='https://drive.google.com/folderview?id=0B61TtHqP5CkSSVQ3R3N6cks0b0E&usp=docslist_api&ddrp=1#' target='_blank') Пример задания
				|  для секции «Брендинг»
				//- p.tab-pane__about
				br
				a.tab-pane__link(href='https://docs.google.com/file/d/0B2COchAXouRGaUdVcHAtZnhIMkk/edit' target='_blank') Решение задания
				|  от победителя 2014 года
block tab-third-stage
	img.tab-pane__img(src='/images/mask.svg')
	.tab-pane__text
		p.tab-pane__date 8 апреля 2015
		p.tab-pane__about 3-й этап проходит очно<br>в Санкт-Петербурге. Вам предстоит<br>решить задание от агентства <a class='tab-pane__link' href='http://brendson.com/' target='_blank'>Brandson</a><br>за 5 часов и презентовать его перед<br>жюри.
		hr.tab-pane__separator
		p.tab-pane__about
			.tab-pane__link-container
				a.tab-pane__link(href='https://drive.google.com/folderview?id=0B61TtHqP5CkSSVQ3R3N6cks0b0E&usp=docslist_api&ddrp=1#' target='_blank') Пример задания
				|  для секции «Брендинг»
				//- p.tab-pane__about
				br
				a.tab-pane__link(href='https://docs.google.com/file/d/0B2COchAXouRGaUdVcHAtZnhIMkk/edit' target='_blank') Решение задания
				|  от победителя 2014 года						
						
block calendar-title
	h3.program__title Программа секции «Брендинг»
block calendar-final
	td.calendar__final
		date.calendar__date(datetime='2015-04-08') 8 апреля
		p.calendar__event Решение очного задания в СПб. Финал.
		i.calendar__marker.calendar__marker--start 0
		i.calendar__marker.calendar__marker--end 1
	td 9
	td 10
	td 11
	
	
block curator-person
	img.curator__img(src='/images/people/6.png')
	.curator__who
		p.curator__name Кристина Энергичная
		a.curator__email(href='mailto: kristina.z@designgames.ru') kristina.z@designgames.ru


block sections
	//- a.sections__item.sections__item--branding.col-xs-6(href='branding.html')
		h3.sections__item-title Брендинг
		p.sections__item-about  Секция для графических дизайнеров.
		p.sections__item-link <span>Подробнее о секции</span> →
	.row
		a.sections__item.sections__item--interface.sections__item--fluid.col-xs-6(href='/sections/interface.html')
			h3.sections__item-title Интерфейсы
			p.sections__item-about Секция для проектировщиков, веб-дизайнеров и&nbsp;разработчиков.
			p.sections__item-link <span>Подробнее о секции</span> →
		a.sections__item.sections__item--architecture.sections__item--fluid.col-xs-6(href='/sections/architecture.html')
			h3.sections__item-title Архитектура и интерьер
			p.sections__item-about Секция для архитекторов и&nbsp;дизайнеров интерьера.
			p.sections__item-link <span>Подробнее о секции</span> →
		a.sections__item.sections__item--costume.sections__item--fluid.col-xs-6(href='/sections/costume.html')
			h3.sections__item-title Дизайн костюма
			p.sections__item-about Секция для дизайнеров костюма и&nbsp;стилистов.
			p.sections__item-link <span>Подробнее о секции</span> →
