block var
doctype
html(lang="ru" prefix='og: http://ogp.me/ns#')
	include ../partials/head.jade
	body
		block header
		block content
		include ../partials/footer.jade
		if production
			include ../partials/analytics.jade
		include ../partials/scripts.jade
