doctype
html(lang="ru")
	include ../partials/head.jade
	body
		header.header
			include ../partials/navbar.jade
			block header
		block content
		include ../partials/footer.jade
		if production
			include ../partials/analytics.jade
		include ../partials/scripts.jade
