extends ../layout/default.jade
block content
	section.into
		.container
			.row
				.col-xs-9
					h2 Ничего личного, только писюльки.
					p ла ла лайкли
				.col-xs-3
					a Регистрация команды епта
					a Личный-хуичный кабинет
					p ОБОЖИ ОСТАЛОСЬ 18 ДНЕЙ
			a Ближайшие события
			.row
				.col-xs-3
					p 26 <small>02</small>
				.col-xs-3
					p 01 <small>03</small>
				.col-xs-3
					p 02 <small>03</small>
				.col-xs-3
					p 09 <small>03</small>

	section.about
		.container
			.row
				.col-xs-6 Игры Дизайнеров — Всероссийский чемпионат, созданный для молодых и амбициозных дизайнеров, разработчиков, маркетологов и рекламистов.
				.col-xs-6 Основная задача — познакомить самых талантливых участников с потенциальными работодателями и представителями крупных компаний.
	section.partners
		.container
			.row
				.col-xs-3
					p лого
					p лого
					p лого
				.col-xs-3
					p лого
					p лого
					p лого
				.col-xs-3
					p лого
					p лого
					p лого
				.col-xs-3
					p лого
					p лого
					p лого
	section.champ
		.container
			.row
				.col-xs-2.
					Собери
					и зарегистрируй
					свою команду
					до 1 марта.*
				.col-xs-2.
					Выберите секцию,
					в которой будете
					бороться.
				.col-xs-2.
					Решайте реальные
					клиентские
					задачи.
				.col-xs-2.
					Прокачивайте
					навыки во время
					чемпионата.
				.col-xs-2.
					Успешно
					презентуйте
					своё решение
					на финале в СПб.
				.col-xs-2.
					Станьте лучшими,
					получите опыт
					и работу в крупной
					компании.
			h3 *Требования к командам:
			ol
				li В команде должно быть от 2-х до 4-х человек;
				li Участникам должно быть не более 25 лет;
				li Любая локация;
				li Возможность приехать на финал чемпионата в СПб (иногородним участникам поможем с жильём).
			a Ознакомиться со всеми правилами участия. (или пойти на хуй)
	section.sections
		.container.container--sections
			.row
				.col-xs-6
					h3 Брендинг
					p Секция для графических дизайнеров и маркетологов.
					p Задание включают в себя области:
					ol
						li Бизнеса и управления;
						li Маркетинга и аналитики;
						li Разработки дизайна и креатива;
						li Прототипирования и разработки носителей;
						li Стратегии продвижения и рекламы.
					a Узнать подробнее о секции
				.col-xs-6
					h3 Интерфейсы
					p Секция для UI/UX дизайнеров, веб-дизайнеров и разработчиков.
					p Задание включают в себя области:
					ol
						li Маркетинга и аналитики;
						li Архитектуры сайта и прототипирования;
						li Разработки дизайна;
						li Вёрстки и программирования.
					a Узнать подробнее о секции
				.clearfix
				.col-xs-6
					h3 Архитектура и интерьер
					p Секция для архитекторов и маркетологов.
					p Задание включают в себя области:
					ol
						li Маркетинга и аналитики в архитектуре/интерьере;
						li Пространственной среды;
						li Проектирования и архитектуры;
						li Разработки чертежей и визуализации;
						li Инженерии и строительства.
					a Узнать подробнее о секции
				.col-xs-6
					h3 Дизайн костюма
					p Секция для дизайнеров костюма и модельеров.
					p Задание включают в себя области:
					ol
						li Бизнеса и управления;
						li Маркетинга и аналитики;
						li Архитектуры сайта и прототипирования;
						li Разработки дизайна;
						li Вёрстки и программирования.
					a Узнать подробнее о секции
				.clearfix
				.col-xs-6
					h3 Промышленный дизайн
					p Секция для 3D-дизайнеров и маркетологов.
					p Задание включают в себя области:
					ol
						li Маркетинга, аналитики и исследованиий;
						li Генерации идей и создания эскизов;
						li 3D моделирования и визуализации;
						li Быстрого прототипирования;
						li Электроники, оборудования, техники и инвентаря.
					a Узнать подробнее о секции
				.col-xs-6
					p Ванильная цитатка
	section.why
		.container
			.row
				.col-xs-7
					h4 Единомышленники
					p Чемпионат ежегодно собирает молодых дизайнеров, разработчиков и маркетологов со всей страны в одном 					месте. Новые и полезные знакомства обеспечены.
					
					h4 Образовательная программа
					p Во время чемпионата ты пополнишь свою базу знаний: каждую неделю лучшие специалисты страны будут 					проводить тематические лекции и мастер-классы.
					
					h4 Реальные задачи
					p Задания чемпионата составлены при поддержке ведущих компаний страны по актуальным рыночным ситуациям. Они безумные, сложные, интересные и под силу не 					каждому.
					
					h4 Возможность трудоустройства
					p В зрительный зал и в жюри мы пригласили руководителей крупных компаний России. Только лучшие команды смогут попасть к ним на работу или стажировку. Мы верим в тебя!
				.col-xs-5
					h4 Времени мало!
					p Чтобы принять участие в чемпионате, собери команду специалистов и зарегистрируй её до 1 марта. Не 					забывай        о правилах и требованиях к команде.
					
					p Если у тебя не получилось найти команду, то не расстраивайся: собрать достойную команду единомышленников можно в нашей группе ВКонтакте. 					Посмотри, может быть, сейчас, там находится твой будущий коллега и победитель чемпионата?
					
					h4 Остались вопросы?
					p Напишите письмо и мы ответим как можно скорее.
					a info@designgames.ru
	section.gallery
		.container.container--gallery
			.row
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')


					