block var
	- var mainpage = true
extends ../layout/default.jade
block header
	header.header
		include ../partials/navbar.jade
		.container
			.row
				.col-xs-9
					h2.header__title Игры дизайнеров,<br>всероссийский<br>чемпионат 2015
					.likely.likely-light
						.twitter Твитнуть
						.facebook Поделиться
						//- .gplus Плюсануть
						.vkontakte Поделиться
				include ../partials/header-registration.jade
			include ../partials/events.jade
		section.about
			.container
				.row
					.col-xs-6
						h3.about__title Что такое «Игры дизайнеров»?
						p.about__text «Игры дизайнеров» — это ежегодный командный чемпионат по&nbsp;разным направлениям дизайна на основе кейсов<br>от ведущих компаний, агентств и студий страны.
					.col-xs-6.about--who
						h3.about__title Для кого проводится чемпионат?
						p.about__text Соревнования созданы для студентов и молодых<br>специалистов: дизайнеров, разработчиков и маркетологов.<br>Основная задача — познакомить участников с потенциальными работодателями и представителями крупных компаний. 
				hr.about__separator
				.row
					.about__item-number.about__item-number--sections.col-xs-3
						span.about__number 4
						span.about__number-text секции
					.about__item-number.about__item-number--members.col-xs-3
						span.about__number 800
							span.about__plus +
						span.about__number-text участников со страны
					.about__item-number.about__item-number--prizes.col-xs-3
						span.about__number 100
							span.about__plus +
						span.about__number-text призов от партнёров
					.about__item-number.about__item-number--employers.col-xs-3
						span.about__number 50
							span.about__plus +
						span.about__number-text работодателей
block content
	section.champ
		.container
			h2.champ__title План действий вашей команды
			img.champ__timeline(src="images/timeline.svg")
			.row
				.col-xs-2.
					Выберите секцию,
					<br>в которой будете
					<br>бороться.
				.col-xs-2.
					Соберите
					<br>и зарегистрируйте
					<br>команду<span class="champ__text--note">*</span>
					<br>до 15 марта.
				.champ--3.col-xs-2.
					Решите реальные
					<br>клиентские
					<br>задачи. 1-2 этапы
					<br>проходят заочно.
				.champ--4.col-xs-2.
					Прокачайте
					<br>навыки во время
					<br>чемпионата.
				.champ--5.col-xs-2.
					Успешно
					<br>презентуйте
					<br>своё решение
					<br>на финале в СПб.
				.champ--6.col-xs-2.
					Станьте лучшими,
					<br>получите опыт
					<br>и работу у лидеров
					<br>рынка.
			p.champ__text
				span.champ__text--note *
				|Команда состоит из 3-4 человек. Возраст участников до 25 лет (включительно). Местонахождение неважно,<br>но в случае прохождения в финал, нужно приехать в Санкт-Петербург для защиты решения.<br>Иногородним участникам помогаем с размещением.
	section#sections.sections
		.container.container--sections
			img(src='/images/sections_icon.svg')
			h3.sections__title Выбор за тобой
			p.sections__text Чувствуя тенденции современного мира, мы разделили чемпионат на 4 секции.<br>Выбери секцию, которая отражает твои навыки. Участие бесплатное.
			.row
				a.sections__item.sections__item--branding.col-xs-6(href='/sections/branding.html')
					h3.sections__item-title Брендинг
					p.sections__item-about  Секция для графических дизайнеров и маркетологов.
					p.sections__item-link <span>Подробнее о секции</span> →
					
				a.sections__item.sections__item--interface.col-xs-6(href='/sections/interface.html')
					h3.sections__item-title Интерфейсы
					p.sections__item-about Секция для проектировщиков, веб-дизайнеров и разработчиков.
					p.sections__item-link <span>Подробнее о секции</span> →
				.clearfix
					
				a.sections__item.sections__item--architecture.col-xs-6(href='/sections/architecture.html')
					h3.sections__item-title Архитектура<br>и интерьер
					p.sections__item-about Секция для архитекторов и дизайнеров интерьера.
					p.sections__item-link <span>Подробнее о секции</span> →
					
				a.sections__item.sections__item--costume.col-xs-6(href='/sections/costume.html')
					h3.sections__item-title Дизайн костюма
					p.sections__item-about Секция для дизайнеров костюма и стилистов.
					p.sections__item-link <span>Подробнее о секции</span> →
	section.why
		.container.container--sections
			.row
				.why__item.col-xs-6
					h4.why__title Единомышленники
					p Чемпионат ежегодно собирает молодых дизайнеров,<br>разработчиков и маркетологов со всей страны в одном месте.<br>Новые и полезные знакомства обеспечены.
				.why__item.why__item--right.col-xs-6
					h4.why__title Реальные задачи
					p Задания чемпионата составлены при поддержке ведущих<br>компаний страны по актуальным рыночным ситуациям.<br>Они безумные, сложные, интересные и под силу не каждому.
				.why__item.col-xs-6
					h4.why__title Образовательная программа
					p Во время чемпионата ты пополнишь свою базу знаний:<br>каждую неделю лучшие специалисты страны будут<br>проводить тематические лекции и мастер-классы.
				.why__item.why__item--right.col-xs-6
					h4.why__title Возможность трудоустройства
					p В зрительный зал и в жюри мы пригласили руководителей<br>крупных компаний России. Только лучшие команды смогут<br>попасть к ним на работу или стажировку.
	section.partners
		.container
			br
			h3.partners__title Партнёры и организаторы
			a(href='http://sutd.ru' target='_blank'): img.partners__logo.partners__logo--td(src='/images/logo/logo_sutd.svg')
			a(href='http://gildfamily.ru/' target='_blank'): img.partners__logo.partners__logo--guild(src='/images/logo/logo_guild-black.svg') 
			a(href='http://coca-colahellenic.ru' target='_blank'): img.partners__logo.partners__logo--coca-cola(src='/images/logo/logo_coca-cola.svg')
			a(href='http://microsoft.com/ru-ru/default.aspx' target='_blank'): img.partners__logo.partners__logo--microsoft(src='/images/logo/logo_microsoft.svg')
			br
			a(href='http://veeam.com' target='_blank'): img.partners__logo.partners__logo--second-row.partners__logo--veeam(src='/images/logo/logo_veeam.svg')
			a(href='http://1.kuka.pro' target='_blank'): img.partners__logo.partners__logo--second-row.partners__logo--kuka(src='/images/logo/logo_kuka.svg')
			a(href='http://www.ikraikra.ru/spb/courses/?utm_source=DG_site&utm_medium=logo&utm_campaign=DG' target='_blank'): img.partners__logo.partners__logo--second-row.partners__logo--ikra(src='/images/logo/logo_ikra.svg')
			a(href='http://fb.com/artw.ru' target='_blank'): img.partners__logo.partners__logo--second-row.partners__logo--artw(src='/images/logo/logo_artw.svg')
			br
			a(href='http://brendson.com/' target='_blank'): img.partners__logo.partners__logo--thrid-row.partners__logo--brandson(src='/images/logo/logo_brandson.svg')
			a(href='http://loftyourmind.ru/' target='_blank'): img.partners__logo.partners__logo--thrid-row(src='/images/logo/logo_loft.svg')
	include ../partials/gallery.jade
//- 
//- 					
//- block var
//- 	- var title = 'Техническое осблуживание'
//- extends ../layout/default.jade
//- block header
//- 	//- include ../partials/navbar.jade
//- block content
//- 	section.soon
//- 		.container
//- 			img(src='/images/maintenance.svg')
//- 			p.soon__text До объявления результатов
//- 			.soon__timer.soon__timer--account
			//- hr.case__divider.case__divider--soon
			//- p P.S. А регистрация продолжается до 22 марта
	
