extends ../layout/default.jade
block header
	.container
		.row
			.col-xs-9
				h2.header__title Игры дизайнеров,<br>всероссийский<br>чемпионат
				.likely.likely-light
					.twitter Твитнуть
					.facebook Поделиться
					//- .gplus Плюсануть
					.vkontakte Поделиться
			.header__registration.col-xs-3
				a.header__registration-link Регистрация команды
				a.header__registration-link Войти в личный кабинет
				date.header__timer
				p.header__timer-text до конца регистрации команд.
		section.events.row
			//- TODO
			a.events__nearest-link Ближайшие события
			.col-xs-3
				date.events__date(datetime='2015-02-23')
					|23
					span.events__month 02
				p Открытие<br>регистрации.
			.col-xs-3
				date.events__date(datetime='2015-02-26')
					|26
					span.events__month 02
				p Лекция «Златая<br>цепь брендинга».
			.col-xs-3
				date.events__date(datetime='2015-03-05')
					|05
					span.events__month 03
				p Лекция «Основы<br>инфографики».
			.col-xs-3
				date.events__date(datetime='2015-03-12')
					|12
					span.events__month 03
				p Лекция<br>«Прогрессивный джипег»».
	section.about
		.container
			h3.about__title Для кого проводится чемпионат?
			p.about__text «Игры дизайнеров» созданы для молодых и амбициозных дизайнеров, разработчиков, маркетологов<br>и рекламистов разных направлений. Основная задача — познакомить участников с потенциальными<br>работодателями и представителями крупных компаний. 
			.row
				.about__item-number.col-xs-3
					span.about__number 4
					span.about__number-text секции
				.about__item-number.col-xs-3
					span.about__number 800
					span.about__number-text участников
				.about__item-number.col-xs-3
					span.about__number 150
					span.about__number-text работодателей
				.about__item-number.col-xs-3
					span.about__number 100
					span.about__number-text призов
block content
	//- section.partners
		.container
			h2 Генеральные партнёры
			.row
				.col-xs-3
					p лого
					p лого
					p лого
				.col-xs-3
					p лого
					p лого
					p лого
				.col-xs-3
					p лого
					p лого
					p лого
				.col-xs-3
					p лого
					p лого
					p лого
	section.champ
		.container
			h2.champ__title Краткая программа
			img.champ__timeline(src="images/timeline.svg")
			.row
				.col-xs-2.
					Собери
					<br>и зарегистрируй
					<br>свою команду*
					<br>до 15 марта.
				.col-xs-2.
					Выберите секцию,
					<br>в которой будете
					<br>бороться.
				.col-xs-2.
					Решайте реальные
					<br>клиентские
					<br>задачи.
				.col-xs-2.
					Прокачивайте
					<br>навыки во время
					<br>чемпионата.
				.col-xs-2.
					Успешно
					<br>презентуйте
					<br>своё решение
					<br>на финале в СПб.
				.col-xs-2.
					Станьте лучшими,
					<br>получите опыт
					<br>и работу в крупной
					<br>компании.
			p.champ__text
				span.champ__text--note * 
				|Команда состоит из 2-4 человек. Возраст участников до 25 лет (включительно). Местонахождение неважно,<br>но в случае прохождения в финал, нужно приехать в Санкт-Петербург для защиты решения.<br>Иногородним участникам помогаем с размещением.
	section.sections
		.container.container--sections
			img(src='/images/sections_icon.svg')
			h3.sections__title Выбор остаётся за вами
			p.sections__text Мы разделили чемпионат на 4 секции, для повышения качества работ.<br>Каждая команда выбирает ту секцию, в которой она наиболее сильна. Подробная информация<br>о заданиях и программе находится внутри каждого направления. 
			.row
				.sections__item.sections__item--branding.col-xs-6
					h3.sections__item-title Брендинг
					p.sections__item-about  Секция для графических дизайнеров и маркетологов.
					a.sections__item-link Подробнее о секции →
					
				.sections__item.sections__item--interface.col-xs-6
					h3.sections__item-title Интерфейсы
					p.sections__item-about Секция для UI/UX дизайнеров, веб-дизайнеров и разработчиков.
					a.sections__item-link Подробнее о секции →
				.clearfix
					
				.sections__item.sections__item--architecture.col-xs-6
					h3.sections__item-title Архитектура и интерьер
					p.sections__item-about Секция для архитекторов и маркетологов.
					a.sections__item-link Подробнее о секции →
					
				.sections__item.sections__item--costume.col-xs-6
					h3.sections__item-title Дизайн костюма
					p.sections__item-about Секция для дизайнеров костюма и модельеров.
					a.sections__item-link Подробнее о секции →
	section.why
		.container
			.row
				.col-xs-6
					h4 Единомышленники
					p Чемпионат ежегодно собирает молодых дизайнеров, разработчиков и маркетологов со всей страны в одном 					месте. Новые и полезные знакомства обеспечены.
					
					h4 Образовательная программа
					p Во время чемпионата ты пополнишь свою базу знаний: каждую неделю лучшие специалисты страны будут 					проводить тематические лекции и мастер-классы.
					
					h4 Реальные задачи
					p Задания чемпионата составлены при поддержке ведущих компаний страны по актуальным рыночным ситуациям. Они безумные, сложные, интересные и под силу не 					каждому.
					
					h4 Возможность трудоустройства
					p В зрительный зал и в жюри мы пригласили руководителей крупных компаний России. Только лучшие команды смогут попасть к ним на работу или стажировку. Мы верим в тебя!
				.col-xs-5
					h4 Времени мало!
					p
						|Чтобы принять участие в чемпионате, собери команду специалистов и зарегистрируй её до 1 марта. Не 		забывай о 
						a правилах и требованиях к команде
						|.
					p
						|Если у тебя не получилось найти команду, то&nbsp;не&nbsp;расстраивайся: собрать достойную команду единомышленников можно в 
						a нашей группе ВКонтакте
						|. Посмотри, может быть, сейчас, там находится твой будущий коллега и победитель чемпионата?
					
					h4 Остались вопросы?
					p 
						|Напишите письмо и мы ответим как можно скорее.
						br
						a info@designgames.ru
					a.why__registration-link Зарегистрировать команду
	section.partners
		.container
			h3 Генеральные партнёры
			.row
				.col-md-3
					a: img.partners__logo(src='/images/logo/logo_coca-cola.svg')
				.col-md-3
					a: img.partners__logo(src='/images/logo/logo_netologiya.svg')
				.col-md-3
					a: img.partners__logo(src='/images/logo/logo_yota.svg')
				.col-md-3
					a: img.partners__logo(src='/images/logo/logo_microsoft.svg')
				.clearfix
				.col-md-3
					a: img.partners__logo(src='/images/logo/logo_veeam.png')
				.col-md-3
					a: img.partners__logo(src='../../images/logo/logo_rostelekom.png')
				.col-md-3
					a: img.partners__logo(src='../../images/logo/logo_ikra.svg')
				.col-md-3
					a: img.partners__logo(src='../../images/logo/logo_medi.png')
	//- sectio.gallery
		.container.container--gallery
			.row
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')
				.col-xs-4: img(src='http://placehold.it/350x150')


					
