block var
	- var title = 'Информация будет опубликована 24 марта'
extends ../layout/default.jade
block header
	include ../partials/navbar.jade
block content
	section.soon
		.container
			img(src='/images/soon.svg')
			a.festival__btn.festival__btn--white(href='/festival.html') Фестиваль 8-12 апреля
	
